body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    
}
div:nth-of-type(-n+2) {
    height: 400px;
}
div:last-child {
    background-color: cadetblue;
}